<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246229434014-vfa5vdmd22usdev2f4508s236pooe6ul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246229434014-vfa5vdmd22usdev2f4508s236pooe6ul</string>
	<key>API_KEY</key>
	<string>AIzaSyAS78yQM83tpTMGEAnudBIKRoKQJGrFlgA</string>
	<key>GCM_SENDER_ID</key>
	<string>246229434014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.mmtechnology.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>my-flash-xat</string>
	<key>STORAGE_BUCKET</key>
	<string>my-flash-xat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246229434014:ios:b00be3663a33d43ccd458f</string>
</dict>
</plist>